<div class="search-container">
    <%= form_with url: root_url, method: :get do |form| %>
    <%= form.label :query, "Search for:", class: "search-label" %>
    <%= form.text_field :query, class: "search-input" %>
    <%= form.submit "Search", class: "search-button" %>
    <% end %>
</div>

<% if @query %>
    <div class="result-container">
        <p class="searched-query">Searched for "<%= @query %>", <%= @count %> Results:</p>
        <ol class="result-list">
            <% @results.each do |result| %>
                <li class="result-item"><%= result %></li>
            <% end %>
        </ol>
    </div>
<% end %>

